@import "../../variables.scss";

.navbar {
  position: relative;
}

.navbar-list {
  background-color: $light-background;
  border-radius: 10px;
  color: $light-text;
  display: flex;
  // grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 80px;
  justify-content: space-around;
  max-width: 600px;
  padding: 12px;
  position: relative;
}

@media (prefers-color-scheme: dark) {
  .navbar-list {
    background-color: $dark-background;
    color: $dark-text;
  }
}

// --- NavbarItem styles ---

.navbar-item {
  align-items: center;
  align-self: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: 100%;
}

.navbar-item-selected-icon {
  position: absolute;
  transition: transform 0.3s ease-in-out;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.navbar-item-title {
  display: block;
  margin-top: 10px;
  &.selected {
    animation: fadeOut 0.3s;
    opacity: 0;
  }
}
