@import "./variables.scss";

body {
  background-color: $body-light-background;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: $body-dark-background;
    color: $dark-text;
  }
}
